<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="60 seconds">
  <springProfile name="dev">
    <include resource="logback/logback-dev.xml"/>
  </springProfile>
  <springProfile name="prod">
    <include resource="logback/logback-prod.xml"/>
  </springProfile>
</configuration>